{% extends "base.html" %}
{% block content %}
<div class="wrapper" style="color: #f9f9f9;">
  <h2 >About</h2>
  <p>This system allows users to register and scan vehicles. It keeps track of vehicle records and allows users to view previous records.</p>
  <p>Additionally, the system captures the number plate from uploaded images of vehicles. If the number plate is found in the database, the system automatically adds the record with the previous owner's name and timestamp. If the number plate is not found, users can manually add the owner's name and other details.</p>
</div>
{% endblock %}
