{% extends "base.html" %}
{% block content %}
<div class="wrapper">
  <form action="/new_user" method="post">
    <h2>Create New User</h2>
    <div class="input-field">
      <input type="text" name="username" required>
      <label>Enter your username</label>
    </div>
    <div class="input-field">
      <input type="email" name="email" required>
      <label>Enter your email</label>
    </div>
    <div class="input-field">
      <input type="password" name="password" required>
      <label>Enter your password</label>
    </div>
    <button type="submit">Create User</button>
  </form>
</div>
{% endblock %}
